/* IMPORT FONT FROM CDNFONTS.COM */
@import url('//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--color-background: rgba(0, 0, 0, .9);
	--color-text-for-background: rgba(255, 255, 255);

	scroll-behavior: smooth;
}

.butterfly-player-api * {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

.butterfly-player-api {
	position: relative;

	height: 720px;
	width: 1280px;

	background-color: #000;
	color: #fff;

	font-weight: 400;
	font-family: 'Roboto', serif;
	letter-spacing: 0.03em;
	font-size: 14px;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.butterfly-player-api img#video-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;

	background-color: red;
}

.butterfly-player-api.video-playing img#video-thumbnail {
	display: none;
}

.butterfly-player-api.video-ending img#video-thumbnail {
	filter: blur(6px);
	transform: scale(1.4);
}


.butterfly-player-api .butterfly-player-controleurs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transform: scale(1.0);

	background-color: rgba(0, 0, 0, 0.3);

	opacity: 1.0;
	transition: .2s;

	cursor: default;
}

.butterfly-player-api.video-playing .butterfly-player-controleurs {
	transform: scale(1.1);
	opacity: .0;
}

.butterfly-player-api .butterfly-player-controleurs .top,
.butterfly-player-api .butterfly-player-controleurs .bottom {
	padding: 32px;
}

.butterfly-player-api .butterfly-player-controleurs .top {
	display: flex;

	justify-content: space-between;
}

.butterfly-player-api .logo-media {
	position: absolute;
	top: 32px;
	right: 32px;

	width: 160px;
}

.butterfly-player-api .logo-media img {
	width: 100%;
	filter: grayscale(100%);
	opacity: 0.3;

	transition: .2s;
}

.butterfly-player-api .logo-media button {
	display: none;
}

.butterfly-player-api.video-ending .logo-media img,
.butterfly-player-api.settings .logo-media img,
.butterfly-player-api.player-is-pause .logo-media img,
.butterfly-player-api.mouse-in-player .logo-media img {
	filter: none;
	opacity: 1.0;

	transition: .2s;
}

.butterfly-player-api.video-ending .logo-media {
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);

	width: 40%;

	text-align: center;
}

.butterfly-player-api.video-ending .logo-media button {
	margin: 0 auto;

	display: flex;
	align-items: center;

	background-color: rgba(20, 20, 20, 0.8);
	color: #fff;

	border: none;

	border-radius: 100px;

	padding: 12px 24px;

	font-size: 15px;
	font-weight: 500;

	cursor: pointer;

	margin-top: 24px;
}

.butterfly-player-api.video-ending .logo-media button svg {
	fill: #fff;
}

.butterfly-player-api.video-ending .logo-media button:hover {
	background-color: var(--color-primary-player-butterfly);
	color: var(--color-text-player-butterfly);

	transition: .2s;
}
.butterfly-player-api.video-ending .logo-media button:hover svg {
	fill: var(--color-text-player-butterfly);
	color: var(--color-text-player-butterfly);

	transition: .2s;
}

.butterfly-player-api.video-ending .logo-media button svg {
	width: 30px;
	height: 30px;

	margin-right: 12px;

	transition: .2s;
	pointer-events: none;
}


.butterfly-player-api.video-ending .logo-media img {
	background-color: rgba(20, 20, 20, 0.8);

	padding: 12px;
	border-radius: 8px;
}



.butterfly-player-api.video-ending video {
	display: none;
}

.butterfly-player-api .butterfly-player-controleurs .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;

	color: var(--color-text-for-background);
}

.butterfly-player-api .butterfly-player-controleurs .bottom ul {
	list-style: none;

	display: flex;
	align-items: center;
}

.butterfly-player-api .butterfly-player-controleurs .bottom ul li { margin-left: 8px }
.butterfly-player-api .butterfly-player-controleurs .bottom ul li:nth-child(1) { margin-left: 0px }

.butterfly-player-api .butterfly-player-controleurs .bottom .center {
	width: 100%;

	margin-left: 12px;
	margin-right: 12px;
}

.butterfly-player-api .butterfly-player-controleurs .progress-bar-contenaire-relative {
	position: relative;
}

.butterfly-player-api .butterfly-player-controleurs .top h2 {
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
}

.butterfly-player-api .butterfly-player-controleurs .top h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;

	color: var(--color-primary-player-butterfly);
}



.butterfly-player-api div.trackText {
	z-index: 1;
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);

	text-align: center;
	transition: .2s;

	animation: loadTextTrack .2s linear;

	flex-direction: column;

	width: 70%;
}

.butterfly-player-api div.trackText div {
	display: block;

	margin-top: 3px;
}

.butterfly-player-api div.trackText span {
	background-color: rgba(0, 0, 0, 0.8);

	padding: 3px;
	border-radius: 4px;

	display: inline-block;
	transition: .2s;
}

.butterfly-player-api .trackText span:nth-child(1) { margin-top: 0; }

@keyframes loadTextTrack {
	from {
		opacity: .9;
		transform: translateY(10px) translateX(-50%);
	}
	to {
		opacity: 1.0;
		transform: translateY(0px) translateX(-50%);
	}
}




.butterfly-player-api .player-button {
	position: absolute;
	bottom: 24px;
	right: 24px;
	display: inline-block;
	transition: .2s;
}

.butterfly-player-api .player-button a {
	display: inline-block;

	padding: 18px 16px;
	border-radius: 4px;

	font-weight: 600;

	background-color: rgba(30, 30, 30, 1.0);

	cursor: pointer;

	transition: .2s;
}

.butterfly-player-api .player-button a:hover {
	background-color: var(--color-primary-player-butterfly);
	color: var(--color-text-player-butterfly);

	transition: .2s;
}

.butterfly-player-api.settings .player-button,
.butterfly-player-api.mouse-in-player .player-button,
.butterfly-player-api.player-is-pause .player-button {
	z-index: 1;
	bottom: 80px;
	transition: .2s;
}

.butterfly-player-api.settings .player-button {
	right: 298px;
}

.butterfly-player-api.player-button-is-skipped .player-button {
	right: -100%;

	transition: .8s;
}

/*
 *
 * Progress bar
 *
 */

.butterfly-player-api .butterfly-player-controleurs .infobull-progressbar {
	background-color: var(--color-background);
	padding: 2px 4px;
	border-radius: 3px;

	display: inline-block;

	position: absolute;
	bottom: 12px;

	transform: translateX(-50%);
}

.butterfly-player-api .progress-bar {
	position: relative;

	display: block;

	background-color: rgba(200, 200, 200, 0.2);

	height: 6px;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;

	cursor: pointer;
}

.butterfly-player-api .progress-bar .readed {
	position: relative;

	display: block;

	background-color: var(--color-primary-player-butterfly);

	height: 100%;
}

.butterfly-player-api .progress-bar .buffered {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	display: block;

	background-color: rgba(200, 200, 200, 0.5);

	height: 100%;
}



/*
 * Gestion icone
 */
.butterfly-player-api .butterfly-player-controleurs .bottom button {
	display: block;

	border: none;

	background-color: transparent;

	cursor: pointer;
}

.butterfly-player-api .butterfly-player-controleurs .bottom button.icon {
	line-height: 0px;
}

.butterfly-player-api .butterfly-player-controleurs .bottom svg {
	width: 28px;
	height: 28px;

	fill: #fff;
	color: #fff;
}

.butterfly-player-api svg {
	pointer-events: none;
}

.butterfly-player-api .butterfly-player-controleurs li {
	padding: 2px 8px;
}

.butterfly-player-api .butterfly-player-controleurs .left li:nth-child(2) {
	display: flex;
	align-items: center;

	padding: 2px 8px;
	border-radius: 8px;
	transition: .2s;
}

.butterfly-player-api .butterfly-player-controleurs .left li:hover:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.8);
	transition: .2s;
}

.butterfly-player-api .butterfly-player-controleurs .left li .volumechange-bar {
	width: 0px;
	margin-left: 0px;

	transition: .2s;
}

.butterfly-player-api .butterfly-player-controleurs .left li:hover .volumechange-bar {
	width: 90px;
	margin-left: 8px;

	transition: .2s;
}

.butterfly-player-api .butterfly-player-controleurs .volumechange-bar {
	display: block;
	position: relative;

	width: 90px;
	height: 6px;

	background-color: rgba(200, 200, 200, 0.2);

	border-radius: 8px;
	overflow: hidden;

	cursor: pointer;
}

.butterfly-player-api .butterfly-player-controleurs .volumechange-bar-content {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	width: 0%;

	background-color: var(--color-primary-player-butterfly);
}

/*
 *
 * Gestionnaire d'animation
 *
 */

.butterfly-player-api.video-playing.video-ending .butterfly-player-controleurs,
.butterfly-player-api.video-playing.settings .butterfly-player-controleurs,
.butterfly-player-api.video-playing.player-is-pause .butterfly-player-controleurs,
.butterfly-player-api.video-playing.mouse-in-player .butterfly-player-controleurs {
	transform: scale(1.0);
	opacity: 1.0;
	transition: .2s;

	cursor: default;
}

.butterfly-player-api .butterfly-player-controleurs .bottom button:hover svg {
	fill: var(--color-primary-player-butterfly);
	color: var(--color-primary-player-butterfly);
}

.butterfly-player-api.settings .trackText,
.butterfly-player-api.player-is-pause .trackText,
.butterfly-player-api.mouse-in-player .trackText {
	bottom: 80px;
	transition: .2s;

	background-color: red;
}











































.butterfly-player-api .option-player-video {
	z-index: 9;
	position: absolute;
	bottom: 80px;
	right: -280px;

	width: 250px;
	max-height: 380px;

	background-color: rgba(0, 0, 0, 0.9);

	border-radius: 6px;

	overflow: hidden;

	text-align: left;
	transition: .2s;
}
.butterfly-player-api .option-player-video-translate {
	display: grid;
	grid-template-columns: repeat(2, 250px);

	transition: .2s;
}

.butterfly-player-api .option-player-video-content {
	width: 100%;
	max-height: 280px;

	overflow: auto;
}

.butterfly-player-api .option-player-video-content.right .setting-info {
	display: none;
}

.butterfly-player-api.settings .option-player-video {
	right: 24px;
	transition: .2s;
}

.butterfly-player-api .option-player-video .option-button {
	width: 250px;
	border-top: solid 1px rgba(100, 100, 100, 1.0);
}

.butterfly-player-api .option-player-video .option-button:nth-child(1) { border-top: none; }

.butterfly-player-api .option-player-video .option-player-video-content span.current {
	padding: 12px 16px;
	font-weight: 700;

	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
}

.butterfly-player-api .option-player-video .option-player-video-content span.current:hover {
	background-color:  var(--color-primary-player-butterfly);
	color: var(--color-text-player-butterfly);
}

.butterfly-player-api .option-player-video .option-button ul {
	display: none;
}

.butterfly-player-api .option-player-video .option-player-video-content ul li { height: auto; display: block; margin-left: 0; }

.butterfly-player-api .option-player-video .option-player-video-content ul li span {
	padding: 12px 16px;

	display: block;

	width: 100%;

	cursor: pointer;
	font-weight: 700;
}

.butterfly-player-api .option-player-video .option-player-video-content ul li span.button-hover:hover,
.butterfly-player-api .option-player-video .option-player-video-content ul li.button-hover span:hover {
	background-color: var(--color-primary-player-butterfly);
	color: #000;
}

.butterfly-player-api .option-player-video .setting-head {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 8px 16px;

	font-weight: 600;

	border-bottom: solid 1px rgba(100, 100, 100, 1.0);
}

.butterfly-player-api .option-player-video .setting-head div.button-icon {
	cursor: pointer;
}

.butterfly-player-api .option-player-video .setting-head svg {
	width: 20px;
	height: 20px;

	pointer-events: none;
}

.butterfly-player-api button#setting-video-icon svg {
	transition: .2s;
}

.butterfly-player-api.settings button#setting-video-icon svg {
	fill:  var(--color-primary-player-butterfly);
	color: var(--color-primary-player-butterfly);

	transform: rotate(-180deg);

	transition: .2s;
}


.butterfly-player-api .option-player-video .option-player-video-content ul li.button-change-font {
	display: flex;
}

.butterfly-player-api .option-player-video-content li.button-change-font span:nth-child(2) {
	width: calc( 100% - 80px );

	text-align: center;
}

.butterfly-player-api .option-player-video-content li.button-change-font span.icon-button {
	display: inline-block;

	height: 41px;

	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.1);
}

.butterfly-player-api .option-player-video-content li.button-change-font span.icon-button svg {
	width: 20px;
	height: 20px;
}






.butterfly-player-api .menu-deroulant-for-player {
	z-index: 22;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);

	border-radius: 6px;
	overflow: hidden;
}

.butterfly-player-api .menu-deroulant-for-player a {
	padding: 12px 18px;

	display: block;

	cursor: pointer;

	width: 260px;

	display: flex;
	align-items: center;

	font-weight: 500;
}

.butterfly-player-api .menu-deroulant-for-player a span.icon {
	margin-right: 18px;
}

.butterfly-player-api .menu-deroulant-for-player a svg {
	width: 20px;
	height: 20px;

	fill: #fff;
}

.butterfly-player-api .menu-deroulant-for-player a:hover {
	background-color: var(--color-primary-player-butterfly);
	color: var(--color-text-player-butterfly);
}

.butterfly-player-api .menu-deroulant-for-player a:hover svg {
	fill:  var(--color-text-player-butterfly);
}